@keyframes spinning{
    from {
        -webkit-transform: rotate(0deg);
} 
to {
        -webkit-transform: rotate(360deg );
}
}
@keyframes stretch {
    0% {
        transform: scale(.5);
        background-color: #08031b;
        border-radius: 100%;
    }

    50% {
        background-color: #08031b;
    }

    100% {
        transform: scale(13.0);
        background-color: #08031b;
        transition: ease-out;
        opacity: 70%;
    }
}


body{
 background: #050210;

 
}
.inner-circle{
    animation-name: stretch;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    
    background:white ;
    
    border-radius: 50%;
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: 45%;
    left: 45%;
    
}
.background-circle{
    background: #050210;
    padding: 2rem;
    position: absolute;
    border-radius: 50%;
    
    content: "";
    width: 233px;
    height: 233px;
    top: 185px;
    left: 300px;
  }
.spin::before{
    animation-name: spinning;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background-color:#050210 ;
    padding: 1rem;
     background: linear-gradient( #fb5dad, #55fb9f, #b97aff);  
      
    border-radius: 50%;
    content: "";
    width: 310px ;
    height: 310px;
    position: absolute;
    top: 160px;
    left: 278px   
}
.glow::before{
    animation-name: spinning;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background-color:#050210 ;
    padding: 1rem;
     background: linear-gradient( #fb5dad, #55fb9f, #b97aff);  
      filter: blur(30px);
    border-radius: 100%;
    content: "";
    width: 320px ;
    height: 320px;
    position: absolute;
    top: 160px;
    left: 278px 
}

